<!DOCTYPE html>
<html xmlns:th="http://www.thymLeaf.org"
        xmlns:layout="https://www.ultraq.net.nz/thymeLeaf/Layout"
        layout:decorator="template1">
<head>
    <meta charset="utf-8"/>
    <title>Mon Bar</title>

</head>
<body>
<div layout:fragment="content">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">ajouter des bierre a mon bar</div>
            <div class="panel-body">
                <form th:action="@{/chercherBierreNom}" method="get">
                    <div>
                        <label>nom bierre:</label>
                        <input type="text" name="nomBierre"/>
                        <button type="submit" class="btn btn-primary">OK</button>
                    </div>

                </form>
                <form th:action="@{/chercherBierreType}" method="get">
                    <div>
                        <label>type bierre:</label>
                        <input type="text" name="typeBierre"/>
                        <button type="submit" class="btn btn-primary">OK</button>
                    </div>
                </form>

            </div>
        </div>
        <div class="panel panel-primary" th:if="${foundBeer} or ${foundBeers}" >
            <div class="panel-heading">bierres trouvées</div>
            <div class="panel-body">

                <table class="table"  >
                    <thead>
                    <tr>

                        <th scope="col">Nom Bierre</th>
                        <th scope="col">Type Bierre</th>
                        <th scope="col"> Action</th>
                    </tr>
                    </thead>
                    <tbody  th:if="${foundBeer}">
                    <tr>

                        <td th:text="${foundBeer.nomBeer}"></td>
                        <td th:text="${foundBeer.typeBeer}"></td>
                        <td>
                            <form th:action="@{/ajouterBeerBar}" method="POST" th:object="${foundBeer}">
                                <input type="hidden" th:field="*{idBeer}"/>
                                <input type="hidden" th:field="*{nomBeer}"/>
                                <input type="hidden" th:field="*{typeBeer}"/>
                                <input type="hidden" th:field="*{note}"/>



                                <button type="submit" class="btn btn-xs btn-success" >Ajouter</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                    <tbody th:each="beers :${foundBeers}" th:if="${foundBeers}">
                    <tr>

                        <td th:text="${beers.nomBeer}"></td>
                        <td th:text="${beers.typeBeer}"></td>
                        <td>
                            <!--<form th:action="@{/ajouterBeerBar}" method="POST" th:object="${beers}">
                                <input type="hidden" th:field="*{idBeer}"/>
                                <input type="hidden" th:field="*{nomBeer}"/>
                                <input type="hidden" th:field="*{typeBeer}"/>
                                <input type="hidden" th:field="*{note}"/>



                                <button type="submit" class="btn btn-xs btn-success" >Ajouter</button>
                            </form>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="panel panel-primary" th:if="${listBeers}">
            <div class="panel-heading">Mes Bierres</div>
            <div class="panel-body">
                <table class="table" >
                    <thead>
                    <tr>
                        <th scope="col">Nom Bierre</th>
                        <th scope="col">Type Bierre</th>

                    </tr>
                    </thead>
                    <body th:each="beerAff :${listBeers}" >
                        <tr>
                            <td th:text="${beerAff.nomBeer}"></td>
                            <td th:text="${beerAff.typeBeer}"></td>
                        </tr>
                    </body>
                </table>

            </div>
        </div>

    </div>

</div>




</body>
</html>