<!DOCTYPE html>
<html xmlns:th="http://www.thymLeaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeLeaf/Layout"
      layout:decorator="template1">
<head>
    <meta charset="utf-8"/>
    <title>Mon Bar</title>

</head>
<body>
<div layout:fragment="content">
    <div class="col-md-6">
        <div class="panel panel-primary" th:if="${foundPerson}" >
            <div class="panel-heading">Mes Clients fidels</div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>

                        <th scope="col">Nom </th>
                        <th scope="col">Prenom</th>
                        <th scope="col"> Adress mail</th>
                    </tr>
                    </thead>
                    <tbody th:each="person :${foundPerson}" th:if="${foundPerson}">
                    <tr>

                        <td th:text="${person.nom}"></td>
                        <td th:text="${person.prenom}"></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>




</body>
</html>