<!DOCTYPE html>
<html xmlns:th="http://www.thymLeaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeLeaf/Layout"
      layout:decorator="template2">
<head>
    <meta charset="utf-8"/>
    <title>Mon Bar</title>

</head>
<body>
<div layout:fragment="content1">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Ajouter bierre prefere</div>
            <div class="panel-body">

                <form th:action="@{/chercherBeerNom}" method="get">
                    <div>
                        <label>nom bar</label>
                        <input type="text" name="nomBeer"/>
                        <button type="submit" class="btn btn-primary">OK</button>
                    </div>
                </form>

            </div>
        </div>
        <div class="panel panel-primary" th:if="${foundBeerNomBeer} " >
            <div class="panel-heading">Bierre trouvé</div>
            <div class="panel-body">

                <table class="table"  >
                    <thead>
                    <tr>
                        <th scope="col">Nom bierre</th>
                        <th scope="col">Type bierre</th>
                        <th scope="col">note </th>

                    </tr>
                    </thead>

                    <tbody   th:if="${foundBeerNomBeer}">
                    <tr>
                        <td th:text="${foundBeerNomBeer.nomBeer}"></td>
                        <td th:text="${foundBeerNomBeer.typeBeer}"></td>
                        <td th:text="${foundBeerNomBeer.note}"></td>

                        <td>
                            <form th:action="@{/ajouterBeerPerson}" method="POST" th:object="${foundBeerNomBeer}">
                                <input type="hidden" th:field="*{idBeer}"/>
                                <input type="hidden" th:field="*{nomBeer}"/>
                                <input type="hidden" th:field="*{typeBeer}"/>
                                <input type="hidden" th:field="*{note}"/>

                                <button type="submit" class="btn btn-xs btn-success" >Ajouter</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="panel panel-primary" th:if="${listBeer}">
            <div class="panel-heading">Mes Bierres Preferées</div>
            <div class="panel-body">
                <table class="table" >
                    <thead>
                    <tr>
                        <th scope="col">Nom Bierre</th>
                        <th scope="col">type Bierre</th>
                        <th scope="col">Note Bierre</th>

                    </tr>
                    </thead>
                    <body th:each="beerAff :${listBeer}" >
                    <tr>
                        <td th:text="${beerAff.nomBeer}"></td>
                        <td th:text="${beerAff.typeBeer}"></td>
                        <td th:text="${beerAff.note}"></td>
                    </tr>
                    </body>
                </table>

            </div>
        </div>

    </div>

</div>
</body>
</html>