<!DOCTYPE html>
<html xmlns:th="http://www.thymLeaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeLeaf/Layout"
      layout:decorator="template2">
<head>
    <meta charset="utf-8"/>
    <title>Mon Bar</title>

</head>
<body>
<div layout:fragment="content1">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Consulter Menu des Bars</div>
            <div class="panel-body">
               <!-- <form th:action="@{/chercherBarBeerNom}" method="get">
                    <div>
                        <label>nom bierre:</label>
                        <input type="text" name="nomBeer"/>
                        <button type="submit" class="btn btn-primary">OK</button>
                    </div>
                </form>-->

                <form th:action="@{/chercherBarNomP}" method="get">
                    <div>
                        <label>nom bar</label>
                        <input type="text" name="nomBar"/>
                        <button type="submit" class="btn btn-primary">OK</button>
                    </div>
                </form>
               <!-- <form th:action="@{/chercherBarBeerType}" method="get">
                    <div>
                        <label>type bierre:</label>
                        <input type="text" name="typeBeer"/>
                        <button type="submit" class="btn btn-primary">OK</button>
                    </div>
                </form>-->
            </div>
        </div>
        <div class="panel panel-primary" th:if="${foundBarBeer} " >
            <div class="panel-heading">Liste des Bierre</div>
            <div class="panel-body">
                <table class="table"  >
                    <thead>
                    <tr>
                        <th scope="col">id </th>
                        <th scope="col">Nom </th>
                        <th scope="col">Type </th>
                        <th scope="col">Note</th>
                    </tr>
                    </thead>
                    <tbody   th:if="${foundBarBeer}">
                    <tr th:each="beerN :${foundBarBeer}">
                        <td th:text="${beerN.idBeer}"></td>
                        <td th:text="${beerN.nomBeer}"></td>
                        <td th:text="${beerN.typeBeer}"></td>
                        <td th:text="${beerN.note}"></td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>

    </div>


</div>
</body>
</html>