<!DOCTYPE html>
<html xmlns:th="http://www.thymLeaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeLeaf/Layout">
<head>
    <meta charset="utf-8"/>
    <title>Connexion</title>
    <meta charset="utf-8"/>
    <title>Mon Bar</title>
    <link rel="stylesheet" type="text/css"
          href="../static/bootstrap.min.css"
          th:href="@{/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css"
          href="../static/mystyle.css"
          th:href="@{/mystyle.css}"/>

</head>
<body>
<div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Connexion :</div>
            <div class="panel-body">
                <form th:action="@{/LoginPassword}" method="get">
                    <div>
                        <label>Login :</label>
                        <input type="text" name="login"/>

                        <label>mot de pass :</label>
                        <input type="text"  name="password"/>


                        <button type="submit" class="btn btn-primary">OK</button>
                    </div>
                </form>
            </div>
        </div>



    </div>


</div>
</body>
</html>